.App {
  text-align: center;
}
:root{
  --primary: #30acb6 ;
  --secondary: #2a2b36 ;
  --tertiary: #201712 ;
  --accent: #ed2d4e;
  --base: white;
  --text-base: black;
  --text-contrast: white;
  --font-1: 'Lucida Grande', monospace;
}
#spacer{
  min-height: 66vh;
}