.comTitle{
    font-size: 60px;
    margin:20px
}
.commentsSubtitle{
    font-size: 24px;
    margin: 20px;
    font-style: italic;
}
.commentsInput{
    width: 100%;
    margin:10px;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
}
.commentsForm{
    padding:0px;
    margin: 0px;
    text-indent: 0px;
    height: 100%
}
.commentsTextbox {
    padding-right: 20px
}
.commentsStuffCol {
    border-right: 3px solid var(--secondary);
}